body {
	background-image: url("go.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: white;
}


.box  {

	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	padding: 1.6rem;
}


a:hover {
	color: green;
	font-weight: 500;
}


a {
	text-decoration: none;
	color: white;
}

h2, p ,footer{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px); 
    border-radius: 15px;
	margin: 5px;
	padding: 15px;
}


footer{
	text-align: center;
}