body {
  background-image: url('hi.jpg');
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  font-size: 2em;
}

nav {
  margin: 20px;
}
nav a {
  color: white;
  margin: 0 45px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

nav a:hover {
  color: #ffaa00;
}

footer {
  position: fixed;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: auto; /* or set a specific width */
  font-size: 1.3em;
}

